In [1]:
import pyspark

In [3]:
from pyspark.sql import SparkSession

In [4]:
spark = SparkSession.builder.appName('Practice2').getOrCreate()

In [5]:
spark

In [11]:
dfSpark = spark.read.option('header','true').csv("F:/test1.csv",inferSchema=True)

In [12]:
dfSpark.show(5)

+---------+---+----------+------+
|     Name|age|Experience|Salary|
+---------+---+----------+------+
|    Krish| 31|        10| 30000|
|Sudhanshu| 30|         8| 25000|
|    Sunny| 29|         4| 20000|
|     Paul| 24|         3| 20000|
|   Harsha| 21|         1| 15000|
+---------+---+----------+------+
only showing top 5 rows

In [13]:
dfSpark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- Experience: integer (nullable = true)
 |-- Salary: integer (nullable = true)

In [14]:
df_spark = spark.read.csv("F:/test1.csv",header=True,inferSchema=True)

In [15]:
df_spark.show(5)

+---------+---+----------+------+
|     Name|age|Experience|Salary|
+---------+---+----------+------+
|    Krish| 31|        10| 30000|
|Sudhanshu| 30|         8| 25000|
|    Sunny| 29|         4| 20000|
|     Paul| 24|         3| 20000|
|   Harsha| 21|         1| 15000|
+---------+---+----------+------+
only showing top 5 rows

In [16]:
df_spark.columns

['Name', 'age', 'Experience', 'Salary']

In [20]:
df_spark.select('Name','Experience','age').show()

+---------+----------+---+
|     Name|Experience|age|
+---------+----------+---+
|    Krish|        10| 31|
|Sudhanshu|         8| 30|
|    Sunny|         4| 29|
|     Paul|         3| 24|
|   Harsha|         1| 21|
|  Shubham|         2| 23|
+---------+----------+---+

In [21]:
df_spark.dtypes

[('Name', 'string'), ('age', 'int'), ('Experience', 'int'), ('Salary', 'int')]

In [23]:
df_spark.describe().show()

+-------+------+------------------+-----------------+------------------+
|summary|  Name|               age|       Experience|            Salary|
+-------+------+------------------+-----------------+------------------+
|  count|     6|                 6|                6|                 6|
|   mean|  NULL|26.333333333333332|4.666666666666667|21333.333333333332|
| stddev|  NULL| 4.179314138308661|3.559026084010437| 5354.126134736337|
|    min|Harsha|                21|                1|             15000|
|    max| Sunny|                31|               10|             30000|
+-------+------+------------------+-----------------+------------------+

In [24]:
df_spark.select("age","Experience","Salary").describe().show()

+-------+------------------+-----------------+------------------+
|summary|               age|       Experience|            Salary|
+-------+------------------+-----------------+------------------+
|  count|                 6|                6|                 6|
|   mean|26.333333333333332|4.666666666666667|21333.333333333332|
| stddev| 4.179314138308661|3.559026084010437| 5354.126134736337|
|    min|                21|                1|             15000|
|    max|                31|               10|             30000|
+-------+------------------+-----------------+------------------+

In [27]:
df_spark = df_spark.withColumn("Experience_After_2years",df_spark['Experience']+2)

In [28]:
df_spark.show()

+---------+---+----------+------+-----------------------+
|     Name|age|Experience|Salary|Experience_After_2years|
+---------+---+----------+------+-----------------------+
|    Krish| 31|        10| 30000|                     12|
|Sudhanshu| 30|         8| 25000|                     10|
|    Sunny| 29|         4| 20000|                      6|
|     Paul| 24|         3| 20000|                      5|
|   Harsha| 21|         1| 15000|                      3|
|  Shubham| 23|         2| 18000|                      4|
+---------+---+----------+------+-----------------------+

In [29]:
df_spark = df_spark.drop("Experience_After_2years")

In [30]:
df_spark.show()

+---------+---+----------+------+
|     Name|age|Experience|Salary|
+---------+---+----------+------+
|    Krish| 31|        10| 30000|
|Sudhanshu| 30|         8| 25000|
|    Sunny| 29|         4| 20000|
|     Paul| 24|         3| 20000|
|   Harsha| 21|         1| 15000|
|  Shubham| 23|         2| 18000|
+---------+---+----------+------+

In [31]:
df_spark = df_spark.withColumn("Salary_After_2yrs",df_spark['Salary']*1.2)

In [32]:
df_spark.show()

+---------+---+----------+------+-----------------+
|     Name|age|Experience|Salary|Salary_After_2yrs|
+---------+---+----------+------+-----------------+
|    Krish| 31|        10| 30000|          36000.0|
|Sudhanshu| 30|         8| 25000|          30000.0|
|    Sunny| 29|         4| 20000|          24000.0|
|     Paul| 24|         3| 20000|          24000.0|
|   Harsha| 21|         1| 15000|          18000.0|
|  Shubham| 23|         2| 18000|          21600.0|
+---------+---+----------+------+-----------------+

In [33]:
df_spark = df_spark.withColumnRenamed("Salary_After_2yrs","Salary+2yrs")

In [34]:
df_spark.show()

+---------+---+----------+------+-----------+
|     Name|age|Experience|Salary|Salary+2yrs|
+---------+---+----------+------+-----------+
|    Krish| 31|        10| 30000|    36000.0|
|Sudhanshu| 30|         8| 25000|    30000.0|
|    Sunny| 29|         4| 20000|    24000.0|
|     Paul| 24|         3| 20000|    24000.0|
|   Harsha| 21|         1| 15000|    18000.0|
|  Shubham| 23|         2| 18000|    21600.0|
+---------+---+----------+------+-----------+