In [1]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import *
from pyspark.ml.feature import Normalizer, StandardScaler
import random

import time

kafka_topic_name = "Topic"
kafka_bootstrap_servers = 'localhost:9092'

spark = SparkSession \
        .builder \
        .appName("Structured Streaming ") \
        .master("local[*]") \
        .config("spark.jars.packages", "org.apache.spark:spark-sql-kafka-0-10_2.12:3.5.1") \
        .getOrCreate()

spark.sparkContext.setLogLevel("ERROR")

In [2]:
flower_df = spark \
        .readStream \
        .format("kafka") \
        .option("kafka.bootstrap.servers", kafka_bootstrap_servers) \
        .option("subscribe", kafka_topic_name) \
        .option("startingOffsets", "latest") \
        .load()

In [3]:
# flower_df1 = flower_df.selectExpr("CAST(value AS STRING)", "timestamp")


# flower_schema_string = "order_id INT,sepal_length DOUBLE,sepal_length DOUBLE,sepal_length DOUBLE,sepal_length DOUBLE,species STRING"



# flower_df2 = flower_df1 \
#         .select(from_csv(col("value"), flower_schema_string) \
#                 .alias("flower"), "timestamp")


# flower_df3 = flower_df2.select("flower.*", "timestamp")

    
# flower_df3.createOrReplaceTempView("flower_find");

flower_df.createOrReplaceTempView("flower_find");
song_find_text = spark.sql("SELECT * FROM flower_find")
flower_agg_write_stream = song_find_text \
        .writeStream \
        .trigger(processingTime='5 seconds') \
        .outputMode("append") \
        .option("truncate", "false") \
        .format("memory") \
        .queryName("testedTable") \
        .start()

flower_agg_write_stream.awaitTermination(1)

False

In [14]:
df = spark.sql("SELECT * FROM testedTable")
df.show()

+--------+------------+------------+------------+------------+---------------+--------------------+
|order_id|sepal_length|sepal_length|sepal_length|sepal_length|        species|           timestamp|
+--------+------------+------------+------------+------------+---------------+--------------------+
|      31|         5.4|         3.4|         1.5|         0.4|    Iris-setosa|2024-05-13 09:13:...|
|      32|         5.2|         4.1|         1.5|         0.1|    Iris-setosa|2024-05-13 09:13:...|
|      33|         5.5|         4.2|         1.4|         0.2|    Iris-setosa|2024-05-13 09:13:...|
|      34|         4.9|         3.1|         1.5|         0.1|    Iris-setosa|2024-05-13 09:13:...|
|      35|         5.0|         3.2|         1.2|         0.2|    Iris-setosa|2024-05-13 09:13:...|
|      36|         5.5|         3.5|         1.3|         0.2|    Iris-setosa|2024-05-13 09:13:...|
|      37|         4.9|         3.1|         1.5|         0.1|    Iris-setosa|2024-05-13 09:13:...|
|      38|         4.4|         3.0|         1.3|         0.2|    Iris-setosa|2024-05-13 09:13:...|
|      39|         5.1|         3.4|         1.5|         0.2|    Iris-setosa|2024-05-13 09:13:...|
|      40|         5.0|         3.5|         1.3|         0.3|    Iris-setosa|2024-05-13 09:13:...|
|      41|         4.5|         2.3|         1.3|         0.3|    Iris-setosa|2024-05-13 09:13:...|
|      42|         4.4|         3.2|         1.3|         0.2|    Iris-setosa|2024-05-13 09:13:...|
|      43|         5.0|         3.5|         1.6|         0.6|    Iris-setosa|2024-05-13 09:13:...|
|      44|         5.1|         3.8|         1.9|         0.4|    Iris-setosa|2024-05-13 09:13:...|
|      45|         4.8|         3.0|         1.4|         0.3|    Iris-setosa|2024-05-13 09:13:...|
|      46|         5.1|         3.8|         1.6|         0.2|    Iris-setosa|2024-05-13 09:13:...|
|      47|         4.6|         3.2|         1.4|         0.2|    Iris-setosa|2024-05-13 09:13:...|
|      48|         5.3|         3.7|         1.5|         0.2|    Iris-setosa|2024-05-13 09:13:...|
|      49|         5.0|         3.3|         1.4|         0.2|    Iris-setosa|2024-05-13 09:13:...|
|      50|         7.0|         3.2|         4.7|         1.4|Iris-versicolor|2024-05-13 09:13:...|
+--------+------------+------------+------------+------------+---------------+--------------------+
only showing top 20 rows

In [13]:
df_count = df.count()
df_count

117