In [1]:
import os
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity
import os

In [2]:
final_Df = pd.read_csv('C:/Users/acer/PycharmProjects/Extenso_Assignment/Entity_Match/project/files/output_files/final_output.csv')

In [5]:
print(final_Df)

    votersID  votersAge  SC Number                      Permanent_Address  \
0   11116874         45  001.01.01            Baluwatar, Kathmandu, Nepal
1   22259363         38  001.01.02               Lakeside, Pokhara, Nepal
2   33385241         52  001.01.03  Chitwan National Park, Chitwan, Nepal
3   44475489         30  001.01.04              Biratnagar, Morang, Nepal
4   55562139         27  001.01.05              Bharatpur, Chitwan, Nepal
5   66698214         41  001.01.06               Butwal, Rupandehi, Nepal
6   77714635         36  001.01.07              Hetauda, Makwanpur, Nepal
7   88847326         50  001.01.08               Janakpur, Dhanusa, Nepal
8   99953421         43  001.01.09                Nepalgunj, Banke, Nepal
9   10103847         34  001.01.10                 Dharan, Sunsari, Nepal
10  11113982         39  001.01.11                Birtamode, Jhapa, Nepal
11  12122547         48  001.01.12              Dhangadhi, Kailali, Nepal
12  13135698         31  001.01.13                Itahari, Sunsari, Nepal
13  14147652         29  001.01.14            Bhaktapur, Bhaktapur, Nepal
14  15158963         44  001.01.15             Kirtipur, Kathmandu, Nepal
15  16169852         53  001.01.16              Lalitpur, Lalitpur, Nepal
16  17175246         37  001.01.17                   Ghorahi, Dang, Nepal
17  18183569         28  001.01.18                   Tansen, Palpa, Nepal
18  19194258         46  001.01.19                  Bidur, Nuwakot, Nepal
19  20205417         40  001.01.20                    Damak, Jhapa, Nepal

                                               source  Mobile Number  \
0   ABC_layout_1.csv, KLM_layout_4.csv, layout_3_v...     1234567890
1   ABC_layout_1.csv, KLM_layout_4.csv, layout_3_v...     2345678901
2   ABC_layout_1.csv, KLM_layout_4.csv, layout_3_v...     3456789012
3   ABC_layout_1.csv, KLM_layout_4.csv, layout_3_v...     4567890123
4   ABC_layout_1.csv, KLM_layout_4.csv, layout_3_v...     5678901234
5   ABC_layout_1.csv, KLM_layout_4.csv, layout_3_v...     6789012345
6   ABC_layout_1.csv, KLM_layout_4.csv, layout_3_v...     7890123456
7   ABC_layout_1.csv, KLM_layout_4.csv, layout_3_v...     8901234567
8   ABC_layout_1.csv, KLM_layout_4.csv, layout_3_v...     9012345678
9   ABC_layout_1.csv, KLM_layout_4.csv, layout_3_v...      123456789
10  ABC_layout_1.csv, KLM_layout_4.csv, layout_3_v...     1234567800
11  ABC_layout_1.csv, KLM_layout_4.csv, layout_3_v...     2345678902
12  ABC_layout_1.csv, KLM_layout_4.csv, layout_3_v...     3456789013
13  ABC_layout_1.csv, KLM_layout_4.csv, layout_3_v...     4567890124
14  ABC_layout_1.csv, KLM_layout_4.csv, layout_3_v...     5678901235
15  ABC_layout_1.csv, KLM_layout_4.csv, layout_3_v...     6789012346
16  ABC_layout_1.csv, KLM_layout_4.csv, layout_3_v...     7890123457
17  ABC_layout_1.csv, KLM_layout_4.csv, layout_3_v...     8901234568
18  ABC_layout_1.csv, KLM_layout_4.csv, layout_3_v...     9012345679
19  ABC_layout_1.csv, KLM_layout_4.csv, layout_3_v...      123456790

    Customer ID               modified_date  Customer Code National Id  ...  \
0          3245  2024-05-30 08:03:59.713634       21216874      AB123C  ...
1          3246  2024-05-30 08:03:59.716735       22359363      DE456F  ...
2          3247  2024-05-30 08:03:59.718793       33485241      GH789I  ...
3          3248  2024-05-30 08:03:59.720843       45475489      JK012L  ...
4          3249  2024-05-30 08:03:59.722861       56562139      MN345O  ...
5          3250  2024-05-30 08:03:59.724881       67698214      PQ678R  ...
6          3251  2024-05-30 08:03:59.727646       78714635      ST901U  ...
7          3252  2024-05-30 08:03:59.730685       89847326      VW234X  ...
8          3253  2024-05-30 08:03:59.734478       91953421      YZ567A  ...
9          3254  2024-05-30 08:03:59.736733       10203847      BC890D  ...
10         3255  2024-05-30 08:03:59.739040       12113982      EF123G  ...
11         3256  2024-05-30 08:03:59.741082       13122547      HI456J  ...
12         3257  2024-05-30 08:03:59.744775       13235698      KL789M  ...
13         3258  2024-05-30 08:03:59.748557       14247652      NO012P  ...
14         3259  2024-05-30 08:03:59.752653       15158964      QR345S  ...
15         3260  2024-05-30 08:03:59.756162       16169853      TU678V  ...
16         3261  2024-05-30 08:03:59.758425       17375246      WX901Y  ...
17         3262  2024-05-30 08:03:59.763062       18383569      ZA234B  ...
18         3263  2024-05-30 08:03:59.767909       19294258      CD567E  ...
19         3264  2024-05-30 08:03:59.770694       20305417      FG890H  ...

                  Temporary_Address  License Number Blood Group  \
0         Gongabu, Kathmandu, Nepal  15-05-58353205         AB+
1          New Road, Pokhara, Nepal  21-08-00435579         AB-
2         Pulchowk, Lalitpur, Nepal  93-12-35351480          B-
3        Bagbazar, Kathmandu, Nepal  65-03-68139881          A-
4        Balkumari, Lalitpur, Nepal  14-11-40056582          A+
5        Chabahil, Kathmandu, Nepal  82-09-81734599          B-
6       Kumaripati, Lalitpur, Nepal  26-03-50185868         AB+
7   New Baneshwor, Kathmandu, Nepal  98-03-72394228          A-
8          Boudha, Kathmandu, Nepal  68-01-80388982          B-
9         Kalanki, Kathmandu, Nepal  42-08-02614125          A-
10          Sanepa, Lalitpur, Nepal  15-06-41273848          O+
11    Putalisadak, Kathmandu, Nepal  31-01-32329238         AB+
12        Tinkune, Kathmandu, Nepal  73-02-11496212          O-
13     Sinamangal, Kathmandu, Nepal  94-08-09289547         AB-
14         Thamel, Kathmandu, Nepal  98-09-16879291          B+
15      Jawalakhel, Lalitpur, Nepal  17-11-63791321         AB-
16      Maitighar, Kathmandu, Nepal  71-03-35575299         AB-
17    Buddhanagar, Kathmandu, Nepal  68-10-56792613          B-
18          Naxal, Kathmandu, Nepal  28-09-97969690         AB+
19       Gaushala, Kathmandu, Nepal  89-04-95690392          A-

                                             soup1              Father_Name  \
0              ramthapa 1990-01-01 rambahadurthapa        Ram Bahadur Thapa
1       sitashrestha 1991-02-02 hariprasadshrestha     Hari Prasad Shrestha
2         harigurung 1992-03-03 gopalkrishnagurung     Gopal Krishna Gurung
3             gitatamang 1993-04-04 shyamlaltamang         Shyam Lal Tamang
4              mohanlama 1994-05-05 krishnarajlama         Krishna Raj Lama
5          radhamagar 1995-06-06 narayankumarmagar      Narayan Kumar Magar
6          krishnarai 1996-07-07 govindabahadurrai      Govinda Bahadur Rai
7       saritasherpa 1997-08-08 shivanarayansherpa     Shiva Narayan Sherpa
8     bikashkarki 1998-09-09 bhagirathbahadurkarki  Bhagirath Bahadur Karki
9    nishabhandari 1999-10-10 suryabahadurbhandari   Surya Bahadur Bhandari
10   aaravadhikari 2000-11-11 rajanbahaduradhikari   Rajan Bahadur Adhikari
11        snehajoshi 2001-12-12 rameshbahadurjoshi     Ramesh Bahadur Joshi
12         pratikshahi 1989-01-13 sureshkumarshahi       Suresh Kumar Shahi
13     anjubhattarai 1988-02-14 dineshrajbhattarai     Dinesh Raj Bhattarai
14  manishmaharjan 1987-03-15 bijaybahadurmaharjan   Bijay Bahadur Maharjan
15               pujakc 1986-04-16 rameshbahadurkc        Ramesh Bahadur KC
16       anilkhadka 1985-05-17 rajeshbahadurkhadka    Rajesh Bahadur Khadka
17         ritarimal 1984-06-18 ganeshbahadurrimal     Ganesh Bahadur Rimal
18   pratikshadahal 1983-07-19 santoshbahadurdahal    Santosh Bahadur Dahal
19   dipeshpokharel 1982-08-20 shyamsundarpokharel    Shyam Sundar Pokharel

     Gender      Citizenship Number      Mother Name Date of Birth  \
0      Male  624-93227-32431/660086      Laxmi Thapa    1990-01-01
1    Female  747-42087-31417/584714     Radha Sharma    1991-02-02
2      Male  389-45382-93886/821590    Gita Adhikari    1992-03-03
3    Female  571-38785-99733/440035         Mina Rai    1993-04-04
4      Male  864-17331-40021/961722    Kalpana Karki    1994-05-05
5    Female  033-51347-62581/380746      Nima Gurung    1995-06-06
6      Male  068-37653-84341/852787    Saru Shrestha    1996-07-07
7    Female  323-37869-95909/623481    Nanu Maharjan    1997-08-08
8      Male  406-94259-70142/249811     Lhamu Tamang    1998-09-09
9    Female  272-28301-42325/881177          Lila KC    1999-10-10
10     Male  575-80644-44438/883300   Chandra Khadka    2000-11-11
11   Female  599-66155-86484/518801     Tulasa Magar    2001-12-12
12     Male  371-38746-28131/634277      Ganga Yadav    1989-01-13
13   Female  506-21915-16175/214975     Sunita Bista    1988-02-14
14     Male  157-92240-30969/930555      Gita Dhakal    1987-03-15
15   Female  697-65333-88172/166613       Laxmi Pant    1986-04-16
16     Male  395-60019-88104/590785     Sarita Joshi    1985-05-17
17   Female  542-42953-82512/112038  Meena Bhattarai    1984-06-18
18     Male  697-25014-99353/663054     Manju Gurung    1983-07-19
19   Female  769-44973-94012/456699        Rita Lama    1982-08-20

         SpouseName
0        Sita Thapa
1       Ravi Sharma
2     Maya Adhikari
3         Surya Rai
4      Sarita Karki
5      Pemba Gurung
6    Laxmi Shrestha
7      Raj Maharjan
8       Pema Tamang
9         Manish KC
10     Nisha Khadka
11      Kamal Magar
12       Sita Yadav
13       Mina Bista
14       Ram Dhakal
15       Radha Pant
16       Amit Joshi
17  Anita Bhattarai
18      Sanu Gurung
19        Hari Lama

[20 rows x 22 columns]

In [ ]:
final_Df

In [16]:
def get_file_names(directory):
    # Get the list of files in the specified directory
    files = os.listdir(directory)
    
    # Extract only the file names without the extensions
    file_names = [os.path.splitext(file)[0] for file in files]
    
    return file_names

In [17]:
name = get_file_names('C:/Users/acer/PycharmProjects/Extenso_Assignment/Entity_Match/project/files/input_files')

In [18]:
name

In [19]:
def load_df(filename, file_path='../data'):
    full_path = os.path.join(file_path, f'{filename}.csv')
    try:
        df = pd.read_csv(full_path)
        print(f"File '{filename}.csv' loaded successfully from '{file_path}'.")
        return df
    except FileNotFoundError:
        print(f"Error: The file '{filename}.csv' was not found in the directory '{file_path}'.")
    except pd.errors.EmptyDataError:
        print(f"Error: The file '{filename}.csv' is empty.")
    except pd.errors.ParserError:
        print(f"Error: The file '{filename}.csv' could not be parsed.")
    except Exception as e:
        print(f"An unexpected error occurred: {e}")

In [20]:
layouts = []
for i,j in enumerate(name):

In [25]:
def load_df_from_dir(dir_path):
    csv_files = [f for f in os.listdir(dir_path) if f.endswith(".csv")]
    layouts = []

    for csv_file in csv_files:
        file_path = os.path.join(dir_path, csv_file)
        df = pd.read_csv(file_path)
        layouts.append(df)
    
    return layouts

In [26]:
layouts = load_df_from_dir('C:/Users/acer/PycharmProjects/Extenso_Assignment/Entity_Match/project/files/input_files')

In [28]:
layouts[0]

In [29]:
def sanitize(df):
    return df.map(lambda x: x.replace(',', '').replace(' ', '').strip() if isinstance(x, str) else '' if pd.isna(x) else x)

In [30]:
layout_copies = []
for layout in layouts:
    try:
        if layout is not None:
            sanitized_layout = sanitize(layout.copy())
            layout_copies.append(sanitized_layout)
        else:
            layout_copies.append(None)
    except Exception as e:
        print(f"An error occurred while sanitizing a layout: {e}")
        layout_copies.append(None)

In [31]:
for i in range(len(layout_copies)):
    layout_copies[i] = sanitize(layout_copies[i])

In [32]:
def create_soup(df, df_, soup, soup_name):
    df[soup_name] = df_[soup].apply(lambda x: ' '.join(x.values.astype(str)).lower(), axis=1)

soup = ['Name', 'Date of Birth', 'Father_Name']

for i, j, k, in zip(layouts, layout_copies, range(len(layouts))):
    create_soup(i, j, soup, f"soup{k+1}")

In [33]:
def combine(A, B, soup_A, soup_B, threshold=0.3):
    # Initialize the TF-IDF Vectorizer
    tfidf = TfidfVectorizer(stop_words='english')
    
    # Combine the textual data for fitting the TF-IDF model
    combined_soup = pd.concat([A[soup_A], B[soup_B]], ignore_index=True)
    tfidf.fit(combined_soup)
    
    # Transform the textual data into TF-IDF matrices
    tfidf_matrix_A = tfidf.transform(A[soup_A])
    tfidf_matrix_B = tfidf.transform(B[soup_B])
    
    # Compute cosine similarity between the two matrices
    similarity = cosine_similarity(tfidf_matrix_A, tfidf_matrix_B)
    similarity_df = pd.DataFrame(similarity, index=A.index, columns=B.index)
    
    # Determine the index of the most similar row in B for each row in A
    max_idx_row = similarity_df.idxmax(axis=1)
    similarity_mask = similarity_df.max(axis=1) >= threshold
    
    # Initialize the combined DataFrame with A, ensuring all columns from both DataFrames
    combined_columns = list(set(A.columns) | set(B.columns))
    combined_data = pd.DataFrame(columns=combined_columns)
    
    # Merge the similar rows 
    for idx_A in A.index:
        if similarity_mask[idx_A]:
            idx_B = max_idx_row[idx_A]
            combined_row = A.loc[idx_A].combine_first(B.loc[idx_B])
        else:
            combined_row = A.loc[idx_A]
        combined_data = pd.concat([combined_data, combined_row.to_frame().T], ignore_index=True)
    
    # Append non-similar rows from B to A
    new_records = B.loc[~B.index.isin(max_idx_row[similarity_mask].values)]
    result = pd.concat([combined_data, new_records], ignore_index=True)
    result.drop(columns=soup_B, inplace=True)
    return result

In [36]:
result_12 = combine(layouts[0], layouts[1], 'soup1', 'soup2')
result_123 = combine(result_12, layouts[2], 'soup1', 'soup3')
result_1234 = combine(result_123, layouts[3], 'soup1', 'soup4')
final_result = combine(result_1234, layouts[4], 'soup1', 'soup5')

In [37]:
final_result