In [1]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import *
from pyspark.sql.types import *
from pyspark.sql.window import *

In [2]:
import json

In [3]:
spark = SparkSession.builder.appName("spark_dataframe_py").config("spark.jars", "C:\spark-3.5.1-bin-hadoop3\jars\mysql-connector-j-8.4.0.jar").getOrCreate()

In [4]:
url = "jdbc:mysql://localhost:3306/extenso_config"
properties = {
    "user": "root",
    "password": "root",
    "driver": "com.mysql.jdbc.Driver"
}

In [5]:
emptyRDD = spark.sparkContext.emptyRDD()
schema = StructType([
  StructField('payer_account_id', IntegerType(), True),
  StructField('first_day_of_month', DateType(), True),
  StructField('txn_flow', StringType(), True),
  StructField('sum(amount)', DoubleType(), True),
  StructField('count(amount)', LongType(), True),
  StructField('last_modified_date', DateType(), True),
  StructField('min(last_modified_date)', DateType(), True),
  ])
Schema = spark.createDataFrame(emptyRDD,schema)

In [6]:
Schema.printSchema()

root
 |-- payer_account_id: integer (nullable = true)
 |-- first_day_of_month: date (nullable = true)
 |-- txn_flow: string (nullable = true)
 |-- sum(amount): double (nullable = true)
 |-- count(amount): long (nullable = true)
 |-- last_modified_date: date (nullable = true)
 |-- min(last_modified_date): date (nullable = true)

In [7]:
def config(table,last_date):
    last_transaction_date = table.select(max("last_modified_date")).collect()[0][0]
    config_data = {
      "last_transaction_date" : last_date,
      "start_transaction_date" : last_transaction_date.strftime('%Y-%m-%d')
    }
    with open("config.json", "w") as json_file:
        json.dump(config_data, json_file)

In [8]:
def get_start_last_transaction_date(config_path = "../config.json"):
    with open(config_path, 'r') as file:
        config_data = json.load(file)
        last_transaction_date = config_data.get('last_transaction_date')
        start_transaction_date = config_data.get('start_transaction_date')
        return start_transaction_date,last_transaction_date

In [9]:
start_date,last_date = get_start_last_transaction_date()

In [11]:
def table(table_name, start_date, end_date):
  df = spark.read.jdbc(url=url, table=table_name, properties=properties)
  if table_name == "rw_transaction_data":
    df = df.filter((df.last_modified_date <= to_date(lit(end_date))) & (df.last_modified_date >= to_date(lit(start_date))))
    # df = df.filter((df.last_modified_date >= to_date(lit(start_date))))
  return df

In [12]:
product_category_map = table("product_category_map",start_date,last_date)
rw_transaction_data = table("rw_transaction_data",start_date,last_date)

In [13]:
rw_transaction_data.count()

4691

In [14]:
def new_data(final_table , rw_transaction_data , product_category_map = product_category_map):
    rw_transaction_data = rw_transaction_data.withColumn("first_day_of_month", trunc(col("last_modified_date"), "month"))
    joined = rw_transaction_data.join(product_category_map, ['product_id', 'product_type_id', 'module_id'])
    table_to_join = joined.groupBy(["payer_account_id","first_day_of_month","txn_flow"]).agg(sum("amount"),count("amount"),max("last_modified_date").alias("last_modified_date"),min("last_modified_date"))
    def merge_table(row):
        existing_row = table_to_join.filter((table_to_join.payer_account_id == row.payer_account_id) & (table_to_join.first_day_of_month == row.first_day_of_month) & (table_to_join.txn_flow == row.txn_flow)).collect()
        if existing_row:
            return existing_row[0]
        else:
            return row
    final_table = final_table.unionAll(table_to_join)
    if final_table.count() == 0:
        merged_rows = table_to_join.collect()
    else:
        merged_rows = final_table.collect()
    merged_rows = [merge_table(row) for row in merged_rows]
    merged_table = spark.createDataFrame(merged_rows, final_table.schema)
    merged_table = merged_table.distinct()
    return merged_table

In [31]:
Schema.write.csv('C:/Users/acer/PycharmProjects/Extenso_Assignment/Py_spark_Customer_Profile/airflow_dynamic/input_file/final_table', header=True,mode='overwrite')

In [15]:
final_table = new_data(Schema,rw_transaction_data)

In [16]:
final_table.count()

23

In [17]:
final_table.show(n=23)

+----------------+------------------+-----------+-----------+-------------+------------------+-----------------------+
|payer_account_id|first_day_of_month|   txn_flow|sum(amount)|count(amount)|last_modified_date|min(last_modified_date)|
+----------------+------------------+-----------+-----------+-------------+------------------+-----------------------+
|              34|        2022-12-01|Value Chain|     4351.0|            6|        2022-12-01|             2022-12-01|
|              56|        2022-12-01|    OutFlow|    12125.0|            4|        2022-12-01|             2022-12-01|
|             531|        2022-12-01|Value Chain|   600054.0|         3836|        2022-12-01|             2022-12-01|
|             471|        2022-12-01|Value Chain|     3048.0|           20|        2022-12-01|             2022-12-01|
|              26|        2023-01-01|     InFlow|    11240.0|            3|        2023-01-01|             2023-01-01|
|              26|        2022-12-01|Value Chain|      460.0|           11|        2022-12-01|             2022-12-01|
|            1056|        2022-12-01|Value Chain|      400.0|            2|        2022-12-01|             2022-12-01|
|              56|        2022-12-01|Value Chain|    18301.0|           40|        2022-12-01|             2022-12-01|
|             471|        2023-01-01|Value Chain|     1470.0|           11|        2023-01-01|             2023-01-01|
|             222|        2022-12-01|Value Chain|      270.0|            2|        2022-12-01|             2022-12-01|
|              34|        2022-12-01|     InFlow|    83200.0|            5|        2022-12-01|             2022-12-01|
|              34|        2023-01-01|Value Chain|    22413.0|           20|        2023-01-01|             2023-01-01|
|              34|        2022-12-01|    OutFlow|    88200.0|            6|        2022-12-01|             2022-12-01|
|             531|        2023-01-01|Value Chain|   274420.0|         1457|        2023-01-01|             2023-01-01|
|              34|        2023-01-01|     InFlow|   546710.0|           33|        2023-01-01|             2023-01-01|
|              26|        2023-01-01|    OutFlow|    11240.0|            3|        2023-01-01|             2023-01-01|
|             222|        2023-01-01|Value Chain|      240.0|            2|        2023-01-01|             2023-01-01|
|              56|        2023-01-01|Value Chain|    14039.0|           32|        2023-01-01|             2023-01-01|
|              26|        2023-01-01|Value Chain|     3500.0|            9|        2023-01-01|             2023-01-01|
|              56|        2023-01-01|    OutFlow|    40000.0|            4|        2023-01-01|             2023-01-01|
|              56|        2022-12-01|     InFlow|     9725.0|            3|        2022-12-01|             2022-12-01|
|              56|        2023-01-01|     InFlow|     3000.0|            2|        2023-01-01|             2023-01-01|
|              34|        2023-01-01|    OutFlow|   608710.0|           36|        2023-01-01|             2023-01-01|
+----------------+------------------+-----------+-----------+-------------+------------------+-----------------------+

In [18]:
def agg_table(final_table):
    total_amount = final_table.groupby('payer_account_id').pivot("txn_flow").agg(sum("sum(amount)").alias("Total_sum"),avg("sum(amount)").alias("Avg_sum"))
    total_count = final_table.groupby('payer_account_id').pivot("txn_flow").agg(sum("count(amount)").alias("Total_count"),avg("count(amount)").alias("Avg_count"))
    final_table = total_amount.join(total_count,['payer_account_id'])
    return final_table

In [19]:
agg_tables = agg_table(final_table)

In [20]:
agg_tables.show()

+----------------+----------------+--------------+-----------------+---------------+---------------------+-------------------+------------------+----------------+-------------------+-----------------+-----------------------+---------------------+
|payer_account_id|InFlow_Total_sum|InFlow_Avg_sum|OutFlow_Total_sum|OutFlow_Avg_sum|Value Chain_Total_sum|Value Chain_Avg_sum|InFlow_Total_count|InFlow_Avg_count|OutFlow_Total_count|OutFlow_Avg_count|Value Chain_Total_count|Value Chain_Avg_count|
+----------------+----------------+--------------+-----------------+---------------+---------------------+-------------------+------------------+----------------+-------------------+-----------------+-----------------------+---------------------+
|             471|            NULL|          NULL|             NULL|           NULL|               4518.0|             2259.0|              NULL|            NULL|               NULL|             NULL|                     31|                 15.5|
|              34|        629910.0|      314955.0|         696910.0|       348455.0|              26764.0|            13382.0|                38|            19.0|                 42|             21.0|                     26|                 13.0|
|              26|         11240.0|       11240.0|          11240.0|        11240.0|               3960.0|             1980.0|                 3|             3.0|                  3|              3.0|                     20|                 10.0|
|            1056|            NULL|          NULL|             NULL|           NULL|                400.0|              400.0|              NULL|            NULL|               NULL|             NULL|                      2|                  2.0|
|             222|            NULL|          NULL|             NULL|           NULL|                510.0|              255.0|              NULL|            NULL|               NULL|             NULL|                      4|                  2.0|
|             531|            NULL|          NULL|             NULL|           NULL|             874474.0|           437237.0|              NULL|            NULL|               NULL|             NULL|                   5293|               2646.5|
|              56|         12725.0|        6362.5|          52125.0|        26062.5|              32340.0|            16170.0|                 5|             2.5|                  8|              4.0|                     72|                 36.0|
+----------------+----------------+--------------+-----------------+---------------+---------------------+-------------------+------------------+----------------+-------------------+-----------------+-----------------------+---------------------+

In [21]:
config(final_table,"2024-01-01")

In [22]:
start_date,last_date = get_start_last_transaction_date()

In [23]:
rw_transaction_data = table("rw_transaction_data",start_date,last_date)

In [24]:
rw_transaction_data.count()

4691

In [25]:
final_tables = new_data(final_table,rw_transaction_data)

In [26]:
final_tables.count()

23

In [22]:
# 2023-01-02 -> 2024-01-01
final_tables.show(n=26)

In [37]:
df = spark.read.csv('C:/Users/acer/PycharmProjects/Extenso_Assignment/Py_spark_Customer_Profile/airflow_dynamic/input_file/final_table', header=True, schema=schema)

In [38]:
df.printSchema()

root
 |-- payer_account_id: integer (nullable = true)
 |-- first_day_of_month: date (nullable = true)
 |-- txn_flow: string (nullable = true)
 |-- sum(amount): double (nullable = true)
 |-- count(amount): long (nullable = true)
 |-- last_modified_date: date (nullable = true)
 |-- min(last_modified_date): date (nullable = true)

In [39]:
df.show()

+----------------+------------------+-----------+-----------+-------------+------------------+-----------------------+
|payer_account_id|first_day_of_month|   txn_flow|sum(amount)|count(amount)|last_modified_date|min(last_modified_date)|
+----------------+------------------+-----------+-----------+-------------+------------------+-----------------------+
|              26|        2023-02-01|     InFlow|   261970.0|          101|        2023-02-28|             2023-02-01|
|              34|        2022-12-01|Value Chain|     4351.0|            6|        2022-12-01|             2022-12-01|
|              34|        2023-02-01|    OutFlow|1.2463831E7|          717|        2023-02-28|             2023-02-01|
|             471|        2023-05-01|Value Chain|    68456.0|          446|        2023-05-24|             2023-05-01|
|             471|        2023-03-01|     InFlow|    15920.0|           17|        2023-03-29|             2023-03-02|
|              26|        2023-04-01|Value Chain|   245031.0|          341|        2023-04-30|             2023-04-01|
|             222|        2023-04-01|    OutFlow|     2000.0|            1|        2023-04-16|             2023-04-16|
|            1056|        2023-02-01|     InFlow|     5500.0|            1|        2023-02-21|             2023-02-21|
|              34|        2023-04-01|Value Chain|   700924.0|          434|        2023-04-30|             2023-04-01|
|             222|        2023-03-01|Value Chain|      700.0|            6|        2023-03-17|             2023-03-02|
|            1056|        2023-01-01|     InFlow|      755.0|            1|        2023-01-08|             2023-01-08|
|             222|        2023-02-01|     InFlow|      250.0|            1|        2023-02-19|             2023-02-19|
|              56|        2023-03-01|Value Chain|   379408.0|          965|        2023-03-31|             2023-03-01|
|              34|        2023-05-01|     InFlow| 1.075651E7|          595|        2023-05-24|             2023-05-01|
|              56|        2022-12-01|    OutFlow|    12125.0|            4|        2022-12-01|             2022-12-01|
|             471|        2023-03-01|Value Chain|   102175.0|          420|        2023-03-31|             2023-03-01|
|              34|        2023-03-01|    OutFlow|1.4212535E7|          805|        2023-03-31|             2023-03-01|
|              56|        2023-02-01|Value Chain|   321817.0|          868|        2023-02-28|             2023-02-01|
|            1056|        2023-01-01|Value Chain|      650.0|            8|        2023-01-23|             2023-01-14|
|             471|        2023-05-01|    OutFlow|     5400.0|            7|        2023-05-24|             2023-05-07|
+----------------+------------------+-----------+-----------+-------------+------------------+-----------------------+
only showing top 20 rows